
<div class="container" *ngIf="contactDetails">
    <table>
     <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Mobile No</th>
        <th>Email Id</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
      </tr>
      <tr>
        <td>{{ contactDetails.id}}</td>
        <td>{{ contactDetails.FirstName}}</td>
        <td>{{ contactDetails.UserName}}</td>
        <td>{{ contactDetails.Password}}</td>
        <td>{{ contactDetails.MobileNo}}</td>
        <td>{{ contactDetails.EmailId}}</td>
        <td>{{ contactDetails.Gender}}</td>
        <td>{{ contactDetails.DOB}}</td>
        <td>{{ contactDetails.Address}}</td>
        <td>{{ contactDetails.City}}</td>
        <td>{{ contactDetails.State}}</td>
      </tr>
    </table>
</div>
