<div class="container">
<form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()">
    
    <div *ngFor="let control of dynamicFormArray">
        <div class="input" [ngSwitch]="control.Type">

            <div *ngSwitchCase="'input'">
                 <div>
                    <label>{{control.label}}</label>
                 </div>
                 <div>
                    <input type="text" [formControlName]="control.ID">
                    <div *ngIf="registrationForm.get(control.ID).dirty || registrationForm.get(control.ID).touched">
                     <small *ngIf="!registrationForm.get(control.ID).valid">
                        {{control.label}} is Required.
                     </small>
                    </div>
                 </div>
            </div>
            <div *ngSwitchCase="'date'">
                <div>
                    <label>{{control.label}}</label>
                 </div>
                 <div>
                    <input type="date"  [formControlName]="control.ID" >
                    <div *ngIf="registrationForm.get(control.ID).dirty || registrationForm.get(control.ID).touched">
                        <small *ngIf="!registrationForm.get(control.ID).valid">
                           {{control.label}} is Required.
                        </small>
                       </div>
   
                 </div>
            </div>
            <div *ngSwitchCase="'radio'">
                <div>
                    <label>{{control.label}}</label>
                </div>
                <div>
                    <label class="radio" *ngFor="let val of control.Value.split(',')">
                        <input type="radio"   [formControlName]="control.ID" name="{{control.ID}}" value="{{val}}">  
                        {{val}}     
                    </label>
                    <div *ngIf="registrationForm.get(control.ID).dirty || registrationForm.get(control.ID).touched">
                        <small *ngIf="!registrationForm.get(control.ID).valid">
                           {{control.label}} is Required.
                        </small>
                       </div>
   
                </div>
            </div>
            <div *ngSwitchCase="'select'">
                <div>
                    <label>{{control.label}}</label>
                 </div>
                 <div>
                    <select  [formControlName]="control.ID">
                        <option value="-1">Select</option>
                        <option *ngFor="let val of control.Value.split(',')" value="{{val}}">{{val}}</option>
                    </select>
                    <div *ngIf="registrationForm.get(control.ID).dirty || registrationForm.get(control.ID).touched">
                        <small *ngIf="!registrationForm.get(control.ID).valid">
                           {{control.label}} is Required.
                        </small>
                       </div>
                 </div>
            </div>
        </div>
   </div>
   <div class="button">
    <button class="btn" type="submit">Submit</button>
    </div>
</form>
</div>